 
<nav class="navbar navbar-expand navbar-dark " style="background-color: #0066b2;">
    <div class="container">
      <mat-icon class="insurance-icon"style="color:orange;">security</mat-icon>
      <a class="navbar-brand" style="margin-right:650px;" routerLink="/dashboard">Assurance App</a>
  
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/search">Search for insurance </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Logout</a>
        </li>
        
        <li class="nav-item" >
          <a class="nav-link" routerLink="/contrats-user">Add reclamation </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" routerLink="/contracts">show my contracts </a>
        </li>
        <button (click)="toggleCart()">Show Contracts in Cart</button>
        
      </ul>
    </div>
   
  </nav>
<router-outlet></router-outlet>
