
<div class="container">


    <div class="header">
     
    </div>
    <div class="main-container">
       
      <!-- example.component.html -->
      <div class="top-section">
        <div class="title">Dashboard</div>

        <div class="widget-container">
          <div class="widget green">
            <div class="icon">
              <mat-icon>location_on</mat-icon>
            </div>
            <div class="value">
              <div class="top"></div>
              <div class="bottom">Contracts</div>
            </div>
          </div>
          <div class="widget yellow">
            <div class="icon">
              <mat-icon>store</mat-icon>
            </div>
            <div class="value">
              <div class="top"></div>
              <div class="bottom">Réclamations</div>
            </div>
          </div>
          <div class="widget red">
            <div class="icon">
              <mat-icon>inventory</mat-icon>
            </div>
            <div class="value">
              <div class="top"></div>
              <div class="bottom">Add contract</div>
            </div>
          </div>
          <div class="widget blue">
            <div class="icon">
              <mat-icon>attach_money</mat-icon>
            </div>
            <div class="value">
              <div class="top"> </div>
              <div class="bottom">Home page</div>
            </div>
          </div>
        </div>
        









        
        <div></div>
      </div>
     <div class="middle-section">
       <div class="widget left">
        q
       </div>
       <div class="widget right">
          
       </div>
     </div>
     
      <div class="side-nav">
      
  <div class="nav-items"  >
    <div class="nav-item"  routerLink="/admin">
      <mat-icon>stop</mat-icon>
     
      <span>Main page</span>
      
    </div>
    <div class="nav-item"  routerLink="/admin_listcontrats">
      <mat-icon>dashboard</mat-icon>
     
      <span>List Contracts</span>
      
    </div>
    <div class="nav-item" routerLink="/admin_addcontrats">
      <mat-icon>inbox</mat-icon>
      <span>Add Contracts</span>
    </div>
    <div class="nav-item" routerLink="/admin_listcomplains">
      <mat-icon>attach_money</mat-icon>
      <span>List Complains</span>
    </div>
    
     
    
    
  </div>
      </div>
     
      <div class="main">
       
      </div>
    
    </div>



    
  </div>


 